.App {
  text-align: center;
}
nav {
  background: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

nav h3 {
  color: white;
  text-decoration: none;
}